.emails-popup {
    width: 400px;
    background: #1f1f1f;
    color: #fff;
    border-radius: 12px;
    overflow: hidden;
    border-bottom: 1px solid #333;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */
.emails-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px;
    font-weight: bold;
    background: #2b2b2b;
}

.header-actions button {
    background: none;
    border: none;
    color: #ccc;
    margin-left: 8px;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.header-actions button:hover {
    color: #fff;
}

/* Scrollable content */
.emails-list {
    max-height: 140px;
    /* limite visible */
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
}

.emails-list::-webkit-scrollbar {
    display: none;
    /* Chrome/Safari */
}

/* Items */
.email-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 12px;
    border-bottom: 1px solid #333;
    font-size: 19px;
}

.email-item:hover{
    background-color: #2b2b2b;
}
.email-item .icon {
    margin-right: 13px;
}

.email-item .info {
    flex: 1;
}

.email-item .title {
    font-weight: bold;
    font-size: 13px;
    font-family:Arial, Helvetica, sans-serif;
}

.email-item .subtitle {
    font-size: 12px;
    color: #aaa;
}

.email-item.premium {
    background: #2a2a2a;
}

/* Footer */
.footer-warning {
    text-align: center;
    padding: 11px;
    font-size: 11px;
    color: #ff6b6b;
    background: #2b2b2b;
}

.icon{
    position: relative;
    margin-top: 8px;
    color: #aaa;
}